In [1]:
import os
import pandas as pd
import numpy as np
from datetime import date
import datetime

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

In [2]:
perfSample = pd.read_csv('perfSample.csv')
accSample = pd.read_csv('accSample.csv')

In [3]:
print(perfSample.dtypes)

loanID                                  int64
monthlyReportingPeriod                 object
servicerName                           object
currIntRate                           float64
currActualUPB                         float64
loanAge                                 int64
remainingMonthsToLegalMaturity        float64
adjustedMonthsToMaturity              float64
maturityDate                           object
msa                                     int64
currLoanDelinquencyStatus              object
modFlag                                object
zeroBalCode                           float64
zeroBalEffDate                         object
lastPaidInstallmentDate                object
foreclosureDate                        object
dispositionDate                        object
foreclosureCosts                      float64
propertyPreservationAndRepairCosts    float64
assetRecoveryCosts                    float64
miscHoldingExpnAndCredits             float64
assocTaxesForHoldingProperty          float64
netSaleProceeds                       float64
creditEnhancementProceeds             float64
repurchaseMakeWholeProceeds           float64
otherForeclosureProceeds              float64
nonInterestBearingUPB                 float64
principalForgivenessAmt               float64
repurchaseMakeWholeProceedsFlag        object
foreclosurePrincipalWriteOffAmt       float64
ServicingActivityIndicator             object
dtype: object

In [4]:
# perfSample.head(2)

In [5]:
# regex , assert position at start of line, match any whitespaces, .
perfSample = perfSample.replace(r'^\s+$', np.nan, regex=True)

In [6]:
# perfSample.head(2)
perfSample = perfSample.loc[:,'loanID':'foreclosureDate']

In [7]:
# replace nan with 0
perfSample['foreclosureDate'] = perfSample['foreclosureDate'].replace(np.nan, 0)

In [8]:
perfSample['foreclosureDate'] = perfSample['foreclosureDate'].apply(lambda x: 1 if x != 0 else 0)

In [9]:
# perfSample.head(2)

In [10]:
accSample.dtypes

loanID                                  int64
origChannel                            object
sellerName                             object
origIntRate                           float64
orgUPB                                  int64
orgLoanTerm                             int64
orginationDate                         object
firstPaymentDate                       object
orgLTV                                float64
orgCombinedLTV                        float64
numBorrowers                          float64
orgDebttoIncomeRatio                  float64
borrowerCreditScoreAtOrigination      float64
firstTimeHomeBuyer                     object
loanPurpose                            object
propType                               object
numUnits                                int64
occType                                object
propertyState                          object
zipCodeShort                            int64
priMortgageInsurancePercent           float64
prodType                               object
coBorrowerCreditScoreAtOrigination    float64
mortInsType                           float64
reloMortIndicator                      object
dtype: object

In [11]:
accSample = accSample.loc[:,'loanID':'prodType']

In [12]:
accSample.head(2)

,loanID,origChannel,sellerName,origIntRate,orgUPB,orgLoanTerm,orginationDate,firstPaymentDate,orgLTV,orgCombinedLTV,...,borrowerCreditScoreAtOrigination,firstTimeHomeBuyer,loanPurpose,propType,numUnits,occType,propertyState,zipCodeShort,priMortgageInsurancePercent,prodType
0,100007365142,R,JPMORGAN CHASE BANK NA,8.000,75000,360,12/1999,02/2000,79.0,NaN,...,763.0,N,R,SF,1,P,PA,173,NaN,FRM
1,100007386460,B,JPMORGAN CHASE BANK NA,7.875,55000,180,01/2000,03/2000,69.0,NaN,...,633.0,N,R,CO,1,P,MD,208,NaN,FRM

In [13]:
combinedSample = pd.concat([perfSample, accSample], axis=1)

In [14]:
combinedSample.head(2)

,loanID,monthlyReportingPeriod,servicerName,currIntRate,currActualUPB,loanAge,remainingMonthsToLegalMaturity,adjustedMonthsToMaturity,maturityDate,msa,...,borrowerCreditScoreAtOrigination,firstTimeHomeBuyer,loanPurpose,propType,numUnits,occType,propertyState,zipCodeShort,priMortgageInsurancePercent,prodType
0,100007365142,01/01/2000,NaN,8.0,NaN,0,360.0,359.0,01/2030,0,...,763.0,N,R,SF,1,P,PA,173,NaN,FRM
1,100007365142,02/01/2000,NaN,8.0,NaN,1,359.0,358.0,01/2030,0,...,633.0,N,R,CO,1,P,MD,208,NaN,FRM

In [15]:
combinedSample.isna().sum()

loanID                                   0
monthlyReportingPeriod                   0
servicerName                        489161
currIntRate                              0
currActualUPB                        81266
loanAge                                  0
remainingMonthsToLegalMaturity         379
adjustedMonthsToMaturity              4567
maturityDate                           379
msa                                      0
currLoanDelinquencyStatus              172
modFlag                                  0
zeroBalCode                         486490
zeroBalEffDate                      486490
lastPaidInstallmentDate             499827
foreclosureDate                          0
loanID                                   0
origChannel                              0
sellerName                               0
origIntRate                              0
orgUPB                                   0
orgLoanTerm                              0
orginationDate                           0
firstPaymentDate                         0
orgLTV                                   2
orgCombinedLTV                      152375
numBorrowers                           632
orgDebttoIncomeRatio                 18996
borrowerCreditScoreAtOrigination     10016
firstTimeHomeBuyer                       0
loanPurpose                              0
propType                                 0
numUnits                                 0
occType                                  0
propertyState                            0
zipCodeShort                             0
priMortgageInsurancePercent         332989
prodType                                 0
dtype: int64

In [16]:
combinedSample = combinedSample.drop(['servicerName', 'currActualUPB', 'adjustedMonthsToMaturity', 
                     'orgCombinedLTV', 'numBorrowers', 'orgDebttoIncomeRatio', 
                     'borrowerCreditScoreAtOrigination', 'priMortgageInsurancePercent',
                     'lastPaidInstallmentDate', 'zeroBalEffDate', 'zeroBalCode', 'maturityDate',
                    'monthlyReportingPeriod', 'orginationDate', 'firstPaymentDate', 'loanID'], axis=1)

In [17]:
combinedSample.isna().sum()

currIntRate                         0
loanAge                             0
remainingMonthsToLegalMaturity    379
msa                                 0
currLoanDelinquencyStatus         172
modFlag                             0
foreclosureDate                     0
origChannel                         0
sellerName                          0
origIntRate                         0
orgUPB                              0
orgLoanTerm                         0
orgLTV                              2
firstTimeHomeBuyer                  0
loanPurpose                         0
propType                            0
numUnits                            0
occType                             0
propertyState                       0
zipCodeShort                        0
prodType                            0
dtype: int64

In [18]:
# finding nan, null values
combinedSample[combinedSample.isnull().any(axis=1)]

,currIntRate,loanAge,remainingMonthsToLegalMaturity,msa,currLoanDelinquencyStatus,modFlag,foreclosureDate,origChannel,sellerName,origIntRate,...,orgLoanTerm,orgLTV,firstTimeHomeBuyer,loanPurpose,propType,numUnits,occType,propertyState,zipCodeShort,prodType
2956,8.250,41,319.0,22380,NaN,N,1,R,CITIMORTGAGE INC.,8.250,...,360,75.0,N,R,SF,1,P,CA,935,FRM
3586,8.000,12,348.0,17820,NaN,N,1,B,JPMORGAN CHASE BANK NATIONAL ASSOCIATION,9.250,...,360,80.0,N,R,SF,1,P,IL,600,FRM
13021,8.000,40,320.0,26420,NaN,N,1,R,WELLS FARGO BANK N.A.,8.375,...,360,97.0,N,P,SF,1,P,TN,372,FRM
18544,7.875,52,308.0,14460,NaN,N,1,B,JPMORGAN CHASE BANK NA,8.250,...,360,33.0,N,P,SF,1,P,IL,607,FRM
26010,9.875,67,293.0,48620,NaN,N,1,R,OTHER,7.875,...,360,82.0,N,R,SF,1,P,OH,448,FRM
32399,8.550,8,352.0,48660,NaN,N,0,B,JPMORGAN CHASE BANK NA,8.125,...,360,56.0,N,C,SF,1,P,CA,957,FRM
35631,8.500,75,285.0,40060,NaN,N,1,C,JPMORGAN CHASE BANK NA,7.750,...,360,95.0,N,P,PU,1,P,TN,380,FRM
35861,7.625,72,288.0,48620,NaN,N,1,C,OTHER,7.250,...,360,79.0,N,P,SF,1,P,IL,600,FRM
39099,8.500,69,291.0,17460,NaN,N,1,C,JPMORGAN CHASE BANK NA,7.875,...,360,95.0,Y,P,SF,1,P,OK,731,FRM
39953,8.500,26,334.0,33100,NaN,N,1,R,RBC MORTGAGE COMPANY,8.375,...,360,95.0,N,P,SF,1,P,MO,631,FRM
41860,8.125,161,199.0,0,NaN,N,1,R,BANK OF AMERICA N.A.,7.875,...,360,59.0,N,P,SF,1,P,MI,495,FRM
42487,8.750,18,342.0,0,NaN,N,1,R,WELLS FARGO BANK N.A.,8.375,...,360,78.0,N,P,SF,1,P,KS,667,FRM
45607,9.125,10,350.0,17460,NaN,N,1,C,AMTRUST BANK,8.125,...,360,80.0,N,P,CO,1,P,TX,761,FRM
47899,9.125,30,330.0,47900,NaN,N,1,R,WELLS FARGO BANK N.A.,8.125,...,180,70.0,N,R,SF,2,I,NY,122,FRM
49382,8.500,33,327.0,17460,NaN,N,1,R,OTHER,9.250,...,180,80.0,N,C,PU,1,P,TX,750,FRM
53031,8.750,58,302.0,12060,NaN,N,1,C,AMTRUST BANK,8.375,...,360,97.0,N,P,SF,1,P,MA,18,FRM
55364,9.000,29,331.0,26420,NaN,N,1,C,CITIMORTGAGE INC.,7.500,...,360,95.0,Y,P,PU,1,P,GA,300,FRM
56657,6.700,70,290.0,0,NaN,N,1,B,GMAC MORTGAGE LLC,8.500,...,360,80.0,N,P,CO,1,S,FL,334,FRM
58380,9.125,32,328.0,33860,NaN,N,1,R,GMAC MORTGAGE LLC,7.750,...,360,65.0,N,C,SF,1,P,CA,930,FRM
60191,8.500,22,338.0,0,NaN,N,1,C,BANK OF AMERICA N.A.,8.125,...,360,80.0,N,P,SF,1,P,CA,930,FRM
60480,8.875,158,202.0,13140,NaN,N,1,R,BISHOPS GATE RESIDENTIAL MORTGAGE TRUST,8.000,...,360,80.0,Y,P,SF,1,P,KY,402,FRM
61162,8.375,50,NaN,16980,0,Y,0,C,GMAC MORTGAGE LLC,7.625,...,360,72.0,N,R,SF,3,P,CA,951,FRM
61163,8.375,51,NaN,16980,0,Y,0,C,JPMORGAN CHASE BANK NA,7.250,...,180,58.0,N,R,SF,1,P,AR,722,FRM
61164,6.000,52,NaN,16980,0,Y,0,C,CITIMORTGAGE INC.,8.000,...,360,41.0,N,P,SF,1,S,CA,922,FRM
61165,6.000,53,NaN,16980,0,Y,0,B,BANK OF AMERICA N.A.,8.125,...,180,90.0,N,P,SF,1,P,KS,671,FRM
61166,6.000,54,NaN,16980,0,Y,0,R,BISHOPS GATE RESIDENTIAL MORTGAGE TRUST,8.250,...,360,80.0,N,R,SF,1,P,ID,838,FRM
61167,6.000,55,NaN,16980,0,Y,0,B,JPMORGAN CHASE BANK NA,7.875,...,360,95.0,Y,P,SF,1,P,CA,956,FRM
61168,6.000,56,NaN,16980,0,Y,0,R,OTHER,8.500,...,360,90.0,N,P,SF,1,P,TX,759,FRM
61169,6.000,57,NaN,16980,0,Y,0,C,JPMORGAN CHASE BANK NA,7.875,...,360,80.0,Y,P,SF,1,P,NJ,80,FRM
61170,6.000,58,NaN,16980,0,Y,0,C,JPMORGAN CHASE BANK NA,8.500,...,360,85.0,N,C,SF,1,P,NH,30,FRM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417738,8.000,81,NaN,35620,X,Y,0,R,CITIMORTGAGE INC.,8.500,...,360,90.0,N,P,SF,1,P,NY,112,FRM
420309,8.875,45,315.0,0,NaN,N,1,C,JPMORGAN CHASE BANK NA,7.875,...,360,80.0,Y,P,SF,1,P,AZ,857,FRM
425881,8.125,69,291.0,25540,NaN,N,1,B,SUNTRUST MORTGAGE INC.,8.250,...,360,80.0,Y,P,CO,1,P,IL,602,FRM
428645,8.000,82,337.0,17140,NaN,Y,1,B,JPMORGAN CHASE BANK NATIONAL ASSOCIATION,8.875,...,360,80.0,N,P,SF,1,I,NV,891,FRM
428841,8.250,31,329.0,17460,NaN,N,1,C,GMAC MORTGAGE LLC,7.625,...,360,80.0,N,P,CO,1,P,CT,64,FRM
432387,8.000,82,278.0,19820,NaN,Y,1,R,OTHER,8.250,...,360,70.0,N,R,SF,1,P,LA,704,FRM
433548,6.750,205,454.0,49620,NaN,Y,1,R,BISHOPS GATE RESIDENTIAL MORTGAGE TRUST,7.500,...,360,80.0,N,P,SF,1,P,PA,194,FRM
435123,8.375,149,211.0,38060,NaN,N,1,C,JPMORGAN CHASE BANK NA,8.125,...,360,80.0,Y,P,CO,1,P,IL,606,FRM
436753,8.375,68,292.0,26900,NaN,N,1,R,JPMORGAN CHASE BANK NA,7.625,...,360,95.0,Y,P,SF,1,P,TX,773,FRM
442045,8.375,20,340.0,0,0,N,0,R,OTHER,8.250,...,360,NaN,N,P,SF,1,S,RI,28,FRM
446157,8.000,124,236.0,24340,NaN,N,1,R,FLEET NATIONAL BANK,8.000,...,360,72.0,N,C,SF,1,P,NJ,79,FRM
450326,8.375,60,300.0,28140,NaN,N,1,R,JPMORGAN CHASE BANK NA,8.000,...,360,90.0,N,P,SF,1,P,OH,452,FRM
450655,8.500,53,307.0,36540,NaN,N,1,C,FLAGSTAR BANK FSB,8.125,...,360,80.0,N,P,SF,1,P,CA,956,FRM
452247,8.250,73,107.0,0,NaN,N,1,B,FLAGSTAR BANK FSB,7.500,...,360,90.0,N,C,SF,1,P,SC,291,FRM
453350,8.750,43,317.0,0,NaN,N,1,C,JPMORGAN CHASE BANK NA,8.125,...,360,74.0,Y,P,PU,1,P,CA,945,FRM
454794,8.000,121,239.0,19820,NaN,N,1,C,FLEET NATIONAL BANK,7.500,...,180,80.0,N,C,SF,1,P,FL,337,FRM
456845,9.250,39,321.0,22380,NaN,N,1,R,OTHER,7.500,...,180,51.0,N,R,SF,1,P,MS,388,FRM
456897,8.500,24,216.0,47260,NaN,N,1,B,JPMORGAN CHASE BANK NATIONAL ASSOCIATION,8.875,...,360,85.0,N,C,SF,1,P,IA,525,FRM
458984,7.750,38,196.0,34740,NaN,N,1,R,BISHOPS GATE RESIDENTIAL MORTGAGE TRUST,7.250,...,360,80.0,N,P,SF,1,P,CO,801,FRM
462748,7.750,30,330.0,12060,NaN,N,1,B,CITIMORTGAGE INC.,7.750,...,360,77.0,N,C,SF,1,P,MD,211,FRM
466502,7.250,89,91.0,33460,0,N,0,R,OTHER,8.500,...,360,NaN,N,P,SF,2,P,LA,704,FRM
470028,8.250,33,327.0,26580,NaN,N,1,R,OTHER,7.625,...,360,79.0,N,P,SF,1,P,CA,917,FRM
472138,7.875,71,109.0,19740,NaN,N,1,C,BANK OF AMERICA N.A.,8.125,...,360,89.0,Y,P,SF,1,P,UT,845,FRM
473395,8.125,27,333.0,19820,NaN,N,1,R,OTHER,7.375,...,360,71.0,N,C,SF,1,P,AR,722,FRM
479710,8.625,32,328.0,0,NaN,N,1,R,WELLS FARGO BANK N.A.,7.625,...,180,25.0,N,P,SF,1,P,GA,300,FRM
480783,8.500,25,335.0,28140,NaN,N,1,C,FLAGSTAR BANK FSB,7.750,...,360,78.0,N,P,SF,1,P,CO,802,FRM
484985,9.125,8,352.0,12580,NaN,N,1,B,JPMORGAN CHASE BANK NATIONAL ASSOCIATION,7.875,...,360,73.0,N,P,SF,1,P,GA,300,FRM
487083,8.625,38,322.0,11460,NaN,N,1,B,JPMORGAN CHASE BANK NA,7.875,...,360,67.0,N,C,SF,1,I,MD,212,FRM
490093,8.500,19,341.0,33100,NaN,N,1,C,BANK OF AMERICA N.A.,7.875,...,360,75.0,N,P,PU,1,S,UT,847,FRM
492996,8.000,47,314.0,41620,NaN,Y,1,B,JPMORGAN CHASE BANK NA,7.250,...,180,78.0,N,C,SF,1,P,CO,802,FRM

In [19]:
# removing nan, null valued rows
combinedSample['currLoanDelinquencyStatus'] = combinedSample['currLoanDelinquencyStatus'].replace(np.nan, 0)
# combinedSample[combinedSample.isnull().any(axis=1)]
combinedSample = combinedSample.dropna(how='any')
combinedSample.isna().sum()

currIntRate                       0
loanAge                           0
remainingMonthsToLegalMaturity    0
msa                               0
currLoanDelinquencyStatus         0
modFlag                           0
foreclosureDate                   0
origChannel                       0
sellerName                        0
origIntRate                       0
orgUPB                            0
orgLoanTerm                       0
orgLTV                            0
firstTimeHomeBuyer                0
loanPurpose                       0
propType                          0
numUnits                          0
occType                           0
propertyState                     0
zipCodeShort                      0
prodType                          0
dtype: int64

In [20]:
combinedSample = combinedSample[combinedSample.currLoanDelinquencyStatus != 'X']

In [21]:
# combinedSample.head(2)

In [22]:
# combinedSample.iloc[39]['currLoanDelinquencyStatus']

In [23]:
# cconverting 
combinedSample['currLoanDelinquencyStatus'] = pd.to_numeric(combinedSample['currLoanDelinquencyStatus'])

In [24]:
combinedSample.head(2)

,currIntRate,loanAge,remainingMonthsToLegalMaturity,msa,currLoanDelinquencyStatus,modFlag,foreclosureDate,origChannel,sellerName,origIntRate,...,orgLoanTerm,orgLTV,firstTimeHomeBuyer,loanPurpose,propType,numUnits,occType,propertyState,zipCodeShort,prodType
0,8.0,0,360.0,0,0,N,0,R,JPMORGAN CHASE BANK NA,8.000,...,360,79.0,N,R,SF,1,P,PA,173,FRM
1,8.0,1,359.0,0,0,N,0,B,JPMORGAN CHASE BANK NA,7.875,...,180,69.0,N,R,CO,1,P,MD,208,FRM

In [25]:
type(combinedSample.iloc[39]['currLoanDelinquencyStatus'])

numpy.int64

In [26]:
type(combinedSample.iloc[5000]['currLoanDelinquencyStatus'])

numpy.int64

In [27]:
def scaleCurrLoanDelinquencyStatus(x):
    if x < 30 :
        return 0
    elif x < 60 :
        return 1
    elif x < 90 :
        return 2
    elif x < 120 :
        return 3
    else:
        return 4

In [28]:
combinedSample['currLoanDelinquencyStatus'] = combinedSample['currLoanDelinquencyStatus'].apply(scaleCurrLoanDelinquencyStatus)

In [29]:
def dateToOrdinal(x):
    return date.toordinal(x)

In [30]:
# combinedSample['monthlyReportingPeriod'] = combinedSample['monthlyReportingPeriod'].apply(lambda x: datetime.datetime.strptime(x, "%m/%d/%y"))

In [31]:
# combinedSample['monthlyReportingPeriod'] = combinedSample['monthlyReportingPeriod'].apply(dateToOrdinal)

In [32]:
combinedSample.columns

Index(['currIntRate', 'loanAge', 'remainingMonthsToLegalMaturity', 'msa',
       'currLoanDelinquencyStatus', 'modFlag', 'foreclosureDate',
       'origChannel', 'sellerName', 'origIntRate', 'orgUPB', 'orgLoanTerm',
       'orgLTV', 'firstTimeHomeBuyer', 'loanPurpose', 'propType', 'numUnits',
       'occType', 'propertyState', 'zipCodeShort', 'prodType'],
      dtype='object')

#### one hot encoding for random forest

In [33]:
print("Original features: \n", list(combinedSample.columns), "\n")
combinedSample = pd.get_dummies(combinedSample)
print("Features after One-hot Encoding: \n", list(combinedSample.columns), "\n")

Original features:
 ['currIntRate', 'loanAge', 'remainingMonthsToLegalMaturity', 'msa', 'currLoanDelinquencyStatus', 'modFlag', 'foreclosureDate', 'origChannel', 'sellerName', 'origIntRate', 'orgUPB', 'orgLoanTerm', 'orgLTV', 'firstTimeHomeBuyer', 'loanPurpose', 'propType', 'numUnits', 'occType', 'propertyState', 'zipCodeShort', 'prodType']

Features after One-hot Encoding:
 ['currIntRate', 'loanAge', 'remainingMonthsToLegalMaturity', 'msa', 'currLoanDelinquencyStatus', 'foreclosureDate', 'origIntRate', 'orgUPB', 'orgLoanTerm', 'orgLTV', 'numUnits', 'zipCodeShort', 'modFlag_N', 'modFlag_Y', 'origChannel_B', 'origChannel_C', 'origChannel_R', 'sellerName_AMTRUST BANK', 'sellerName_BANK OF AMERICA  N.A.', 'sellerName_BISHOPS GATE RESIDENTIAL MORTGAGE TRUST', 'sellerName_CITIMORTGAGE  INC.', 'sellerName_CITIZENS MORTGAGE CORPORATION', 'sellerName_DOWNEY SAVINGS AND LOAN ASSOCIATION  F.A.', 'sellerName_EVERBANK', 'sellerName_FIRST TENNESSEE BANK NATIONAL ASSOCIATION', 'sellerName_FLAGSTAR BANK  FSB', 'sellerName_FLEET NATIONAL BANK', 'sellerName_GE MORTGAGE SERVICES  LLC', 'sellerName_GMAC MORTGAGE  LLC', 'sellerName_HARWOOD STREET FUNDING I  LLC', 'sellerName_JP MORGAN CHASE BANK  NA', 'sellerName_JPMORGAN CHASE BANK  NA', 'sellerName_JPMORGAN CHASE BANK  NATIONAL ASSOCIATION', 'sellerName_NETBANK FUNDING SERVICES', 'sellerName_OLD KENT MORTGAGE COMPANY', 'sellerName_OTHER', 'sellerName_PNC BANK  N.A.', 'sellerName_RBC MORTGAGE COMPANY', 'sellerName_REGIONS BANK', 'sellerName_SUNTRUST MORTGAGE INC.', 'sellerName_THE HUNTINGTON NATIONAL BANK', 'sellerName_USAA FEDERAL SAVINGS BANK', 'sellerName_WASHTENAW MORTGAGE COMPANY', 'sellerName_WELLS FARGO BANK  N.A.', 'firstTimeHomeBuyer_N', 'firstTimeHomeBuyer_U', 'firstTimeHomeBuyer_Y', 'loanPurpose_C', 'loanPurpose_P', 'loanPurpose_R', 'loanPurpose_U', 'propType_CO', 'propType_CP', 'propType_MH', 'propType_PU', 'propType_SF', 'occType_I', 'occType_P', 'occType_S', 'propertyState_AK', 'propertyState_AL', 'propertyState_AR', 'propertyState_AZ', 'propertyState_CA', 'propertyState_CO', 'propertyState_CT', 'propertyState_DC', 'propertyState_DE', 'propertyState_FL', 'propertyState_GA', 'propertyState_GU', 'propertyState_HI', 'propertyState_IA', 'propertyState_ID', 'propertyState_IL', 'propertyState_IN', 'propertyState_KS', 'propertyState_KY', 'propertyState_LA', 'propertyState_MA', 'propertyState_MD', 'propertyState_ME', 'propertyState_MI', 'propertyState_MN', 'propertyState_MO', 'propertyState_MS', 'propertyState_MT', 'propertyState_NC', 'propertyState_ND', 'propertyState_NE', 'propertyState_NH', 'propertyState_NJ', 'propertyState_NM', 'propertyState_NV', 'propertyState_NY', 'propertyState_OH', 'propertyState_OK', 'propertyState_OR', 'propertyState_PA', 'propertyState_PR', 'propertyState_RI', 'propertyState_SC', 'propertyState_SD', 'propertyState_TN', 'propertyState_TX', 'propertyState_UT', 'propertyState_VA', 'propertyState_VI', 'propertyState_VT', 'propertyState_WA', 'propertyState_WI', 'propertyState_WV', 'propertyState_WY', 'prodType_FRM']

In [34]:
# Get All Column's name of the input file
columnHeaders = list(combinedSample.columns.values)

#'quality' is the class attribute we are predicting
classColumn = 'foreclosureDate'
riskFeature = combinedSample.drop(columns=['foreclosureDate'])
riskClass = combinedSample[classColumn]

In [35]:
combinedSample.groupby('foreclosureDate').count()

,currIntRate,loanAge,remainingMonthsToLegalMaturity,msa,currLoanDelinquencyStatus,origIntRate,orgUPB,orgLoanTerm,orgLTV,numUnits,...,propertyState_TX,propertyState_UT,propertyState_VA,propertyState_VI,propertyState_VT,propertyState_WA,propertyState_WI,propertyState_WV,propertyState_WY,prodType_FRM
foreclosureDate,,,,,,,,,,,,,,,,,,,,,
0,486110,486110,486110,486110,486110,486110,486110,486110,486110,486110,...,486110,486110,486110,486110,486110,486110,486110,486110,486110,486110
1,170,170,170,170,170,170,170,170,170,170,...,170,170,170,170,170,170,170,170,170,170

In [36]:
combinedSample.head(5)

,currIntRate,loanAge,remainingMonthsToLegalMaturity,msa,currLoanDelinquencyStatus,foreclosureDate,origIntRate,orgUPB,orgLoanTerm,orgLTV,...,propertyState_TX,propertyState_UT,propertyState_VA,propertyState_VI,propertyState_VT,propertyState_WA,propertyState_WI,propertyState_WV,propertyState_WY,prodType_FRM
0,8.0,0,360.0,0,0,0,8.000,75000,360,79.0,...,0,0,0,0,0,0,0,0,0,1
1,8.0,1,359.0,0,0,0,7.875,55000,180,69.0,...,0,0,0,0,0,0,0,0,0,1
2,8.0,2,358.0,0,0,0,8.000,130000,360,61.0,...,0,0,0,0,0,0,0,0,0,1
3,8.0,3,357.0,0,0,0,8.375,107000,360,95.0,...,0,0,0,0,0,0,0,0,0,1
4,8.0,4,356.0,0,0,0,8.000,37000,180,63.0,...,0,0,0,0,0,0,0,0,0,1

In [37]:

# Splitting given dataset - Train: 75%, Test: 25%
trainFeature, testFeature, trainClass, testClass = train_test_split(riskFeature, riskClass, stratify=riskClass, train_size=.75, test_size=.25)
trainAccuracy = []
testAcuracy = []

#### training the random forest classifier

In [38]:
forest = RandomForestClassifier(n_estimators=50, max_depth=10, random_state=0, n_jobs=4)
forest.fit(trainFeature, trainClass)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=10, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=50, n_jobs=4,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [39]:
# Printing test and train accuracy of the classifier
print("Train set accuracy: {:.2f}".format(forest.score(trainFeature, trainClass)))
print("Test set accuracy: {:.2f}".format(forest.score(testFeature, testClass)))

Train set accuracy: 1.00
Test set accuracy: 1.00

In [40]:
# Confusion matrix(6x6) including 'All' for test data
prediction = forest.predict(testFeature)
print("Confusion matrix:")
print(pd.crosstab(testClass, prediction, rownames=['True'], colnames=['Predicted'], margins=True))

Confusion matrix:
Predicted       0     All
True
0          121528  121528
1              42      42
All        121570  121570

In [41]:
# Application of 10-fold stratified cross-validation
crossValidationScore = cross_val_score(forest, trainFeature, trainClass, cv=10)
print("Cross-validation scores: {}".format(crossValidationScore))
print("Average cross-validation score: {:.2f}".format(crossValidationScore.mean()))

Cross-validation scores: [0.99964356 0.99964356 0.99964355 0.99964355 0.99964355 0.99964355
 0.99964355 0.99964355 0.99967096 0.99967096]
Average cross-validation score: 1.00